
<script src="https://code.jquery.com/jquery-3.6.3.slim.min.js" integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js" integrity="sha512-EKWWs1ZcA2ZY9lbLISPz8aGR2+L7JVYqBAYTq5AXgBkSjRSuQEGqWx8R1zAX16KdXPaCjOCaKE8MCpU0wcHlHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap-grid.min.css" integrity="sha512-Aa+z1qgIG+Hv4H2W3EMl3btnnwTQRA47ZiSecYSkWavHUkBF2aPOIIvlvjLCsjapW1IfsGrEO3FU693ReouVTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css" integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css"/>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
<link rel="stylesheet" href="/static/styles/style.css"/>

<nav class="navbar navbar-light bg-light justify-content-between">
    <div>
      <a class="navbar-brand" href="/admin/dashboard/">
        <img src="/static/logo.png" alt="" width="57" height="32">
      </a>
      <a class="btn btn-sm" href="/admin/users">Users</a>
      <a class="btn btn-sm" href="/admin/scores">Score</a>
    </div>

    <div style="padding:0 10px 0 0;">
      <form class="p-0 m-0" action="/logout/" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="/admin/index/" />
        <button class="btn btn-sm" type="submit">Log Out</button>
      </form>
    </div>
</nav>

<div class="row">
  <div clas="col col-8" style="margin:30px 40px 0px 40px">
      <h3>{% block title %}{% endblock title %}</h3>
  </div>
</div>


{% block content %}
{% endblock content %}

{% block script %}
{% endblock script %}